@use "variables" as v;

body {
    header {
        height: auto;

        .logorincon {
            height: auto;
            width: 5vw;
        }

        .navbar-collapse {
            flex-grow: 0;
            flex-basis: 0;
        }

        .active {
            font-weight: 500;
        }
    }
}

@include v.tablet {

    body {
        header {
            height: auto;

            .logorincon {
                height: auto;
                width: 5vw;
            }

            .navbar-collapse {
                flex-grow: 1;
                flex-basis: 100%;
            }
        }
    }
}

@include v.mobile {
    body {
        header {
            height: auto;

            .logorincon {
                height: auto;
                width: 9vw;
            }

            .navbar-collapse {
                flex-grow: 1;
                flex-basis: 100%;
            }
        }
    }
}